[submodule "mruby"]
	path = mruby
	url = https://github.com/kimushu/mruby.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/kimushu/micropython.git
[submodule "jerryscript"]
	path = jerryscript
	url = https://github.com/kimushu/jerryscript.git
[submodule "duktape"]
	path = duktape
	url = https://github.com/svaarala/duktape.git
